.blok
{
    height: 300px;
    width: 300px;
    margin: auto;
    border: 2px solid green;
    box-sizing: border-box;
    padding-top: 125px;
    text-align: center;
}

.menu_up
{
    width: 50px;
    height: 50px;
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.623);
    
    transition: width .3s, height .3s, padding .3s;

    float: left;
}

.opcja
{
    float: left;
    margin-right: 50px;
    display: none;
}

.menu_up:hover .opcja
{
    display: inline;
}

.menu_up:hover
{
    width: 100%;
    height: 100px;
    padding: 0;
}

.menu_up::before
{
    content: '♦♦♦';
}

.menu_up:hover::before
{
    content: '';
}

.opcja
{
    border: 2px green solid;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 25px;
}